[Desktop Entry]
Version=1.0
Type=Application
Name=MediaINFO Slack
Icon=/home/marko/.resources/resources/icons/slack.png
Exec=/usr/bin/chromium --profile-directory=Default --app=https://mediainfo.slack.com/
Categories=X-GNOME-Other;
StartupWMClass=mediainfo.slack.com
StartupNotify=false
Terminal=false
NoDisplay=true
