#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Yandex.Translate
Exec=/usr/bin/chromium --app=https://translate.yandex.com/
Icon=/home/marko/.resources/resources/icons/yandex-translate.png
StartupWMClass=translate.yandex.com
