/* @import url("/usr/share/themes/Yaru/gnome-shell/gnome-shell.css"); */

#panel {
  background-color: transparent;
}
#panel .panel-corner {
  -panel-corner-background-color: transparent;
}

#panel.solid {
  background-color: #3F3E40;
}
#panel.solid .panel-corner {
  -panel-corner-background-color: #3F3E40;
}

#panel .panel-button {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#panel .panel-button .system-status-icon,
#panel .panel-button .app-menu-icon > StIcon,
#panel .panel-button .popup-menu-arrow {
  icon-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

#panel .panel-button:hover {
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}

#panel .panel-button:hover .system-status-icon,
#panel .panel-button:hover .app-menu-icon > StIcon,
#panel .panel-button:hover .popup-menu-arrow {
  icon-shadow: 0px 1px 2px rgba(0, 0, 0, 0.8);
}
